body{
    font-family: $font;
    line-height: 150%;
    color: $div-900;
    @include breakpoint(lg){
        font-size: rem-calc(17);
    }
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
  margin: 0 0 18px;
}
h1,.h1{
     @include breakpoint(xxxl){
    } 
}
h2,.h2{
    
    @include breakpoint(xxxl){
    }
}
h3,.h3{
    @include breakpoint(xxxl){
    }
}
h4,.h4{
    @include breakpoint(xxxl){
    }
}

h5, .h5{
    @include breakpoint(xxxl){
    }
}

h6,.h6{
    @include breakpoint(xxxl){
    }
}


img, svg {
    max-width:100%;
    height:auto;
    @include transition(all,.3s,linear);
}
svg{
    path{
        @include transition(all,.3s,linear);
    }
}
p{
    font-size: rem-calc(15);
    margin-bottom: 18px;
    &:last-child{
        margin-bottom: 0;
    }
}
a{
   
    @include transition(all,.2s,linear);
    
    &:hover{

        text-decoration: none;
    }
}
strong{
    font-weight: $bold;
}
ul,ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
iframe{
  display: block;
  width: 100%;
}
img{
    display: block;
    object-fit: cover;
}

.row{
    // margin: 0 -18px;
}
[class*="container"]{
    // padding: 0 18px;
    @include breakpoint(md){
        
    }
    @include breakpoint(lg){
        
    }
    @include breakpoint(xl){
        max-width: 1164px;
    }
    @include breakpoint(xxl){
        max-width: 1440px;
    
    }
}




.detail-content{
    *{
        &:last-child{
            margin-bottom: 0;
        }
    }
    ul, ol{
        padding-left: 16px;
    }
    ul{
         li{
            list-style: disc;
            li{
                list-style: square;
            }
        }
    }
    ol{
         li{
            list-style: decimal;
            li{
                list-style: roman;
            }
        }
    }
    blockquote{
        
    }
}

/* 
   ========================================================================== */
/* BACKGROUND
   ========================================================================== */
.bg-black{
    background: $black;
}
.bg-white{
    background: $white;
}
.bg-gray-900{
    background: $gray-900;
    *{
        color: $gray-300;
    }
}
.bg-gray-700{
    background: $gray-700;
}
.bg-gray-500{
    background: $gray-500;
}
.bg-gray-400{
    background: $gray-400;
}
.bg-gray-300{
    background: $gray-300;
}
.bg-gray-200{
    background: $gray-200;
}
.bg-div-900{
    background: $div-900;
}
.bg-div-700{
    background: $div-700;
}
.bg-div-900{
    background: $div-500;
}
.bg-sport-900{
    background: $sport-900;
}
.bg-sport-700{
    background: $sport-700;
}
.bg-sport-500{
    background: $sport-500;
}
.bg-hb-900{
    background: $hb-900;
}
.bg-hb-700{
    background: $hb-700;
}
.bg-hb-500{
    background: $hb-500;
}
.bg-training-900{
    background: $training-900;
}
.bg-training-700{
    background: $training-700;
}
.bg-training-500{
    background: $training-500;
}
.bg-green-success{
    background: $green-success;
}
.bg-red-error{
    background: $red-error;
}


/* TEXT COLORS
   ========================================================================== */
.text-black{
    color: $black;
}
.text-white{
    color: $white;
}
.text-gray-900{
    color: $gray-900;
}
.text-gray-900{
    color: $gray-700;
}
.text-gray-500{
    color: $gray-500;
}
.text-gray-400{
    color: $gray-400;
}
.text-gray-300{
    color: $gray-300;
}
.text-gray-200{
    color: $gray-200;
}
.text-div-900{
    color: $div-900;
}
.text-div-700{
    color: $div-700;
}
.text-div-900{
    color: $div-500;
}
.text-sport-900{
    color: $sport-900;
}
.text-sport-700{
    color: $sport-700;
}
.text-sport-500{
    color: $sport-500;
}
.text-hb-900{
    color: $hb-900;
}
.text-hb-700{
    color: $hb-700;
}
.text-hb-500{
    color: $hb-500;
}
.text-training-900{
    color: $training-900;
}
.text-training-700{
    color: $training-700;
}
.text-training-500{
    color: $training-500;
}
.text-green-success{
    color: $green-success;
}
.text-red-error{
    color: $red-error;
}

/* FONT WEIGHT
   ========================================================================== */
.wgt-400{
    font-weight: 400;
}
.wgt-500{
    font-weight: 500;
}
.wgt-700{
    font-weight: 700;
}
.wgt-900{
    font-weight: 900;
}


.section{
    padding: 90px 0;
}

