/* ==========================================================================
   COLORS
   ========================================================================== */
	$primary : #66BE64;
	$alt : #FFDD00;
	$acc : #C9E8EB;
	$white: #FFFFFF;
	$black: #000000;

	$dark-gray: #0F0F0F;
	$gray: #444444;
	$light-gray: #E0E0E0;



/* ==========================================================================
   FONTS AND WEIGHTS
   ========================================================================== */
   $font: 'Silka','sans-serif';
   $mono: 'Silka Mono','sans-serif';

   $elight: 100;
   $light_wgt: 200;
	$thin: 300;
	$regular: 400;
	$medium: 500;
	$sbold: 600;
	$bold: 700;
