header{
	position: relative;
	.navbar{
		background: none;
		padding: 0;
	}
	h1{
		margin-bottom: 0;
	}
	.logo-area{
		h1{
			margin-left: 18px;
			padding: 6px 0;
			.navbar-brand{
				padding: 0;
				display: block;
			}
		}
	}
	.dropdown.megamenu>.navbar-nav{
		top:84px;
		min-height: 100vh;
	    z-index: 111;
	}
	.navbar-expand-lg .navbar-nav .nav-link{
		color: $white;
		font-size: rem-calc(15);
		line-height: 150%;
		font-weight: $medium;
		padding: 30px 18px;
		&:hover{
			color: $white;
			background: $div-900;
		}
	}
	.navbar-nav .nav-item.active>.nav-link{
		color: $white;
	}
	.navbar-nav .nav-item:hover{
		background: $div-900;
	}
	.navbar-nav .nav-item.active{
		position: relative;
		&:before{
			content: '';
			position: absolute;
			left: 6px;
			right: 6px;
			top: 6px;
			height: 3px;
			background: $white;
			z-index: 11;
		}
	}
	.navbar-expand{
		.brand-area{
			+ .navbar-collapse{
				display: none !important;
				@include breakpoint(xl){
					display: flex !important;
				}
			}
		}
	}
}

.site-diversity{
	header{
		background: linear-gradient(90deg, $div-700 0%, $div-700 82%, $white 82%, $white 100%);
		@include breakpoint(4xl){
			background: linear-gradient(90deg, $div-700 0%, $div-700 75%, $white 75%, $white 100%);
		}
	}
	.dropdown.megamenu>.navbar-nav{
		background: $div-900;
	}
}
.site-health{
	header{
		background-color: $hb-700;
	}
	.dropdown.megamenu>.navbar-nav{
		background: $hb-900;
	}
}
.site-sport{
	header{
		background-color: $sport-700;
	}
	.dropdown.megamenu>.navbar-nav{
		background: $sport-900;
	}
}
.site-training{
	header{
		background-color: $training-700;
	}
	.dropdown.megamenu>.navbar-nav{
		background: $training-900;
	}
}

.nav-item.dropdown>.navbar-nav {
	h2{
		color: $white;
	}
	.navbar-nav{
		background: none;
		position: relative;
		left: 0;
		padding-bottom: 36px;
		margin-bottom: 36px;
		&:last-child{
			margin-bottom: 0;
			padding-bottom: 0;
			&:after{
				display: none;
			}
		}
		.nav-item{
			.nav-link{
				color: $white;
				font-size: 17px;
				line-height: 1.5;
			}
		}
		&.featured-nav{
			.nav-item{
				.nav-link{
					font-size: 21px;
					line-height: 1.5;
				}
			}
		}
		&:after{
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 2px;
			opacity: .5;
			@include rainbow();
		}
	}
}
[class*="site-"] {
	.brand-area .dropdown.megamenu > .navbar-nav{
		background: $gray-200;
	}
}
.brand-area {
	.navbar-nav{
		.promo-banner{
			margin-bottom: 18px;
			@include breakpoint(xl){
				margin-bottom: 0;
				margin-right: 18px;
				width: 616px;
			}
			@include breakpoint(xxl){
				width: 792px;
			}
		}
		.program-list{
			margin-left: -18px;
			margin-top: -18px;
			@include breakpoint(xl){
				width: 512px;
			}
			@include breakpoint(xxl){
				width: 612px;
			}
		}
	}
}

.mobile-menu{
	position: fixed;
	bottom: 0;
	left: 0;
	background: $div-900;
	z-index: 99;
	width: 100%;
	padding: 12px 0 24px;
	&:before{
		content:"";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 2px;
		@include rainbow();
	}
	.dropup, .btn-group{
		position: static;
		.dropdown-menu{
			background: $div-900;
			height: calc(100vh - 78px);
			// inset: calc(-100vh + 77px) -1px 77px -1px !important;
			// inset: calc(-8vh + 77px) -1px 77px -1px !important;
			inset: calc(90vh + 77px) -1px 77px -1px !important;
		    // transform: none !important;
		    border-radius: 0;
		    box-shadow: none;
		    padding: 75px 18px;
		    overflow-y: scroll;
		    display: flex;
		    flex-direction: column;
		    transition: inset .5s linear;
		    &.show{
		    	inset: calc(-100vh + 146px) -1px 77px -1px !important;
		    }
		}
	}
	ul{
		li{
			width: 57px;
			li{
				width: 100%;
			}
			a, button{
				background: none;
				color: $gray-400;
				font-size: rem-calc(10);
				font-weight: $medium;
			}
			li{
				a{
					color: $white;
					font-size: rem-calc(17);
				}
			}
		}
	}
	.dropup .dropdown-toggle::after{
		display: none;
	}
}

.bsnav-mobile .navbar{
	background: $div-900;
    width: 100vw;
    padding: 18px;;
    flex-flow: column;
    top: 100vh;
    bottom: 78px;
    transform: translate3d(0,0,0);
}

.bsnav-mobile.in .navbar {
    transform: translate3d(0,0,0);
    top: 0;
    bottom: 78px;
}

 @-webkit-keyframes slideUpIn {
	 0% {
		 
		 -webkit-transform: translateY(0);
	 }
	 100% {
		 
		 -webkit-transform: translateY(calc(-100vh + 70px));
	 }
	 
	 0% {
		 -webkit-transform: translateY(0);
	 }
}

@keyframes slideUpIn {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(calc(-100vh + 70px));
	}
	0% {
		transform: translateY(0);
	}
}

.slideUpIn {
	-webkit-animation-name: slideUpIn;
	animation-name: slideUpIn;
}

.animation{
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}