@font-face {
    font-family: 'Silka';
    src: url('assets/dist/fonts/Silka-Medium.woff2') format('woff2'),
        url('assets/dist/fonts/Silka-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('assets/dist/fonts/Silka-Regular.woff2') format('woff2'),
        url('assets/dist/fonts/Silka-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka Mono';
    src: url('assets/dist/fonts/SilkaMono-Black.woff2') format('woff2'),
        url('assets/dist/fonts/SilkaMono-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('assets/dist/fonts/Silka-Light.woff2') format('woff2'),
        url('assets/dist/fonts/Silka-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('assets/dist/fonts/Silka-Thin.woff2') format('woff2'),
        url('assets/dist/fonts/Silka-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('assets/dist/fonts/Silka-Black.woff2') format('woff2'),
        url('assets/dist/fonts/Silka-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('assets/dist/fonts/Silka-SemiBold.woff2') format('woff2'),
        url('assets/dist/fonts/Silka-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('assets/dist/fonts/Silka-Bold.woff2') format('woff2'),
        url('assets/dist/fonts/Silka-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka Extra';
    src: url('assets/dist/fonts/Silka-ExtraLight.woff2') format('woff2'),
        url('assets/dist/fonts/Silka-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka Mono';
    src: url('assets/dist/fonts/SilkaMono-Bold.woff2') format('woff2'),
        url('assets/dist/fonts/SilkaMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka Mono';
    src: url('assets/dist/fonts/SilkaMono-Regular.woff2') format('woff2'),
        url('assets/dist/fonts/SilkaMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka Mono';
    src: url('assets/dist/fonts/SilkaMono-Medium.woff2') format('woff2'),
        url('assets/dist/fonts/SilkaMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka Mono';
    src: url('assets/dist/fonts/SilkaMono-SemiBold.woff2') format('woff2'),
        url('assets/dist/fonts/SilkaMono-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka Mono';
    src: url('assets/dist/fonts/SilkaMono-Thin.woff2') format('woff2'),
        url('assets/dist/fonts/SilkaMono-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka Mono';
    src: url('assets/dist/fonts/SilkaMono-Light.woff2') format('woff2'),
        url('assets/dist/fonts/SilkaMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@import 'theme/variables';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'theme/theme';

